---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Tietoa sivustosta"
	description="reiteistä, kaupungeista ja luonnosta
Suomessa"
	pubDate={new Date('Tammikuu 20 2026')}
	heroImage="/blog-placeholder-about.jpg"
>	
 <p>
Tämä sivusto on henkilökohtainen matkailuprojekti.
Kirjoitan reiteistä, kaupungeista ja luonnosta
Suomessa.
</p>
	</p>
</Layout>
