---
import Layout from '../layouts/Layout.astro';  // 
---

<Layout title="Lappeenranta – Saimaan rannalla sijaitseva kesäkaupunki">
  <main style="padding: 4rem 2rem; max-width: 900px; margin: 0 auto;">
    <h1>Kauniit järvimaisemat Saimaalla</h1>
    <p>Lappeenranta on yksi Kaakkois-Suomen suosituimmista matkailukaupungeista. 
Kaupunki tunnetaan kauniista satamastaan, hiekkarannoistaan ja historiallisesta Lappeenrannan linnoitus-alueesta.
Linnoituksessa voi tutustua museoihin, taidegallerioihin ja perinteisiin kahviloihin. 
Kesäisin satama on vilkas matkailukeskus, josta lähtevät risteilyt Saimaalle. 
Alueella voi myös vuokrata polkupyöriä tai veneitä ja tutkia järvimaisemia omassa tahdissa.</p>
    <!-- добавь фото, текст, видео и т.д. -->
  </main>
</Layout>
